
<form class="myForm" [formGroup]="form">
    <div class="title">Title</div>
    <input type="text" placeholder="Text Form Field 1" formControlName="fieldOne">
    <input type="text" placeholder="Text Form Field 2" formControlName="fieldTwo">
    <input type="text" placeholder="Text Form Field 3" formControlName="feildThree">
    <input type="text" placeholder="Text Form Field 4" formControlName="feildFour">
    <div class="controls">
        <button [ngStyle]="{'background-color':color$ | async}" type="button" [disabled]="form.untouched &&!form.dirty" (click)="formReset()">Reset Button</button>
        <button [ngStyle]="{'background-color':color$ | async}" type="button" [disabled]="form.invalid" class="button-two" (click)="send()">Submit Button</button>
    </div>
</form>