.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    grid-template-areas:
        "nav nav"
        "main sidebar"
        "footer footer";
    font-family: "inter", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: #004d40;
    text-align: center;
    overflow: hidden;
}

nav {
    background-color: #a7ffeb;
    grid-area: nav;
    height: 6vh;
}

main {
    background-color: #84ffff;
    grid-area: main;
    height: 88vh;
    max-height: 90vh;
    overflow-y: auto;
    display: grid;
    align-content: center;
}

.sidebar {
    background-color: #18ffff;
    grid-area: sidebar;
}

footer {
    background-color: #1de9b6;
    grid-area: footer;
    height: 6vh;
}

.three {
    display: grid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.four {
    display: grid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.one{
    display: grid;
    justify-content: center;
}

.two {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    border: 1px dashed black;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-rows: 0.1fr 2fr 0.1fr;
        grid-template-columns: auto;
        grid-template-areas:
            "nav"
            "main"
            "footer";
    }

    .two {
        border: none;
        display: grid;
        grid-template-columns: auto;
    }

    .three {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .one {
        border: none;
    }
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-rows: 0.1fr 2fr 0.1fr;
        grid-template-areas:
            "nav"
            "main"
            "footer";
    }

    .two {
        display: grid;
        grid-template-columns: auto;
    }

    .three {
        display: none;
    }

    .one{
        border: none;
    }
    
}