<div class="container">
    <nav [ngStyle]="{'background-color':color$ | async}">Header</nav>
    <main>
            <div class="one">
                <div class="two">
                    <div class="three">
                        <button class="items" [ngStyle]="{'background-color':item}"
                        *ngFor="let item of colors$ |async" (click)="changeColor(item)"> MENU ITEM</button>
                    </div>
                    <div class="four">
                        <app-form></app-form>
                    </div>
                </div>
            </div>
    </main>
    <div class="sidebar">Side bar</div>
    <footer [ngStyle]="{'background-color':color$ | async}">Footer</footer>
</div>