nav {
    background-color: #a7ffeb;
    height: 6vh;
}

main {
    background-color: #84ffff;
    width: 80%;
}

.sidebar {
    background-color: #18ffff;
    width: 20%;
}

footer {
    background-color: #1de9b6;
    height: 10vh;
}

.middle-area {
    display: flex;
    height: 84vh;
}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

.container>* {
    flex: 1 100%;
}

main .one {
    display: flex;
    justify-content: center;
    height: 80%;
}

main .two {
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px dashed black;
    padding-top: 10px;
}

main .three {
    width: 30%;
}

main .four {
    width: 60%;
}

button {
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 550px) {
    .sidebar {
        display: none;
    }

    main {
        width: 100%;
    }
}

/* @media all and (min-width: 800px) {
    main{
        flex: 3;
        
    }
   
} */