<div class="container">
    <div>
        <nav>Header</nav>
    </div>
    <div class="middle-area">
        <main>
            <div class="one">
                <div class="two">
                    <div class="three">
                        <button style="padding: 20px;" *ngFor="let item of [].constructor(11)"> MENU ITEM</button>
                    </div>
                    <div class="four">
                        <app-flex-form></app-flex-form>
                    </div>
                </div>
            </div>
        </main>
        <div class="sidebar">Side bar</div>
    </div>
        <div>
            <footer>Footer</footer>
        </div>
</div>