<div class="container">
    <div>
        <nav [ngStyle]="{'background-color':color$ | async}">Header</nav>
    </div>
    <div class=" middle-area">
        <main>
            <div class="one">
                <div class="two">
                    <div class="three">
                        <button class="items" [ngStyle]="{'background-color':item}"
                            *ngFor="let item of colors$ |async" (click)="changeColor(item)"> MENU ITEM</button>
                    </div>
                    <div class="four">
                        <app-flex-form></app-flex-form>
                    </div>
                </div>
            </div>
        </main>
        <div class="sidebar">Side bar</div>
    </div>
    <div>
        <footer [ngStyle]="{'background-color':color$ | async}">Footer</footer>
    </div>
</div>