.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "items controls";
  grid-auto-flow: row;
  border: 2px dashed black;

}

.items {
  grid-column: items;
  display: grid;
}

.items button {
  width: 200px;
}

.myForm {
  grid-column: controls;
}

.myForm .title {
  text-align: center;
  background-color: #ccc;
  color: white;
}

@media only screen and (max-width: 550px) {
  .form-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "controls"
    ;
  }

  .items {
    display: none;
  }
}