.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "items controls";
  grid-auto-flow: row;

}

.items {
  grid-column: items;
  display: grid;
}

.items button {
  width: 200px;
}

.myForm {
  grid-column: controls;
}

.myForm .title {
  text-align: center;
  background-color: #ccc;
  color: white;
  margin-bottom: -36px;
  padding: 13px;
}

input {
  width: 100%;
  margin-top: 48px;
  padding: 40px;
  font-size: 20px;
}

button {
  width: 200px;
  margin-top: 26px;
  padding: 10px;
  width: 20%;
  color: white;
  cursor: pointer;
}

button:hover {
  border: 1px solid red;
}

.button-two {
  margin-left: 20px !important;
}


@media only screen and (max-width: 550px) {
  .form-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "controls";
  }

  input {
    padding: 0px;
  }

  button {
    padding: 1px;
    width: 75px;
    color: white;
  }

  .items {
    display: none;
  }
}