<div class="form-container">
    <div class="items">
        <button>Red</button>
        <button>Red</button>
    </div>
    <form class="myForm">
        <div class="title">Title</div>
        <input type="text" placeholder="Text Form Field">
        <input type="text" placeholder="Text Form Field">
        <input type="text" placeholder="Text Form Field">
        <input type="text" placeholder="Text Form Field">
        <div class="controls">
            <button>Reset Button</button>
            <button>Submit Button</button>
        </div>
    </form>
</div>